# Cổng chạy local (mặc định 3000)
PORT=3000

# Cấu hình Supabase (Lấy từ Supabase Dashboard -> Project Settings -> API)
# Nếu để trống, app sẽ tự động lưu vào file data/db.json trên máy
SUPABASE_URL=https://vszvhbbeueedtxipsebi.supabase.co
SUPABASE_KEY=sb_publishable_Qk4mvT_r5jCVhsRtmv7iNg_6OXCC_hf
